@font-face {
    font-family: 'Conserta Demo';
    src: url('/public/fonts/Conserta DEMO Regular 400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
